################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectSettings.json
/.vs/VSWorkspaceState.json
/.vs/
